@page "/"
@rendermode InteractiveServer
@using PainBall5.Components.Services
@inject PaintballService PaintballService
@inject NavigationManager nm

<h1>Добро пожаловать в пейнтбольный клуб!</h1>

<p>Забронируйте игру для своей команды прямо сейчас.</p>

<button class="btn btn-primary" @onclick=@(() => nm.NavigateTo("book"))>Забронировать игру</button>